<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">{{ site.title }}</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="married.html">Home</a>
      </li>
      <li>
        <a href="rsvp.html">RSVP</a>
      </li>
      <li>
        <a href="location.html">Location</a>
      </li>
      <li>
        <a href="registry.html">Registry</a>
      </li>
    </ul>
  </section>
</nav>